**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/values.dev.yaml
./utils/*
README.md
**/.github/
**/.aws-sam/
**/htmlcov/
**/images/