praw==7.5.0
pytest==6.2.3
beautifulsoup4==4.9.3
boto3==1.13.6
requests==2.23.0
selenium==3.141.0
webdriver-manager==3.8.1
dpath==2.0.5
dataclass-wizard==0.22.1
git+https://github.com/Alir3z4/html2text.git@2ee4495f33c793a110e5fa918b3d8f94b891b24a#egg=html2text
InterruptibleSleepBinding==1.0.0
pytest-cov==3.0.0